<a href="https://colab.research.google.com/github/lexandara/DZ4/blob/main/%D0%94%D0%97_1_%D0%BF%D1%80%D0%BE%D0%B1%D0%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
!pip install wget
import wget 
wget.download('https://dropbox.com/s/f4rm8sjc3v99p0m/_end_seminar.xlsx?dl=1', 'end_seminar.xlsx')

Requirement already satisfied: wget in c:\anacondaz\lib\site-packages (3.2)
100% [..............................................................................] 50735 / 50735

'end_seminar (2).xlsx'

In [ ]:
df = pd.read_excel('end_seminar.xlsx')

### УБИРАЕМ ПУСТЫЕ ЗНАЧЕНИЯ

In [ ]:
df.isna().sum()

timestamp          0
id                 0
rating             0
18_group         138
is_mi            343
fall_1             0
fall_2             0
fall_3             0
spring_1           0
spring_2           0
spring_3           0
is_first_time      2
percentile         0
17_group         223
blended          223
is_ml_student    304
dtype: int64

In [ ]:
df.dtypes

timestamp        datetime64[ns]
id                       object
rating                    int64
18_group                float64
is_mi                   float64
fall_1                   object
fall_2                   object
fall_3                   object
spring_1                 object
spring_2                 object
spring_3                 object
is_first_time            object
percentile              float64
17_group                float64
blended                  object
is_ml_student           float64
dtype: object

In [ ]:
s = pd.Series(data=[0, 0, '', 0, '', 0], index=['18_group', 'is_mi', 'is_first_time', '17_group', 'blended', 'is_ml_student'])
df_1 = df.fillna(s)
df_1.head()

,timestamp,id,rating,18_group,is_mi,fall_1,fall_2,fall_3,spring_1,spring_2,spring_3,is_first_time,percentile,17_group,blended,is_ml_student
0,2020-05-15 01:12:50.543,93ff79a51cd602f1dd3028ba2c129503,698,181.0,0.0,Язык SQL,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да,0.183857,0.0,,0.0
1,2020-05-15 02:46:48.066,26b01b1c4cd5656bab18d24c548834fb,647,181.0,0.0,Высокопроизводительные вычисления,Безопасность компьютерных систем,Язык SQL,Дискретная оптимизация,Численные методы,Машинное обучение 2,Нет,0.426009,0.0,,0.0
2,2020-05-15 03:12:41.480,30f3653fc176d54e89ac3179c455c6dd,624,185.0,0.0,Безопасность компьютерных систем,Матричные вычисления,Моделирование временных рядов,Дискретная оптимизация,Машинное обучение 2,Численные методы,Да,0.538117,0.0,,0.0
3,2020-05-15 04:43:08.994,1528f0eaa027580820ccf0d92a53ad68,579,182.0,0.0,Statistical Learning Theory,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да,0.744395,0.0,,0.0
4,2020-05-15 07:47:17.197,496ea4f0d4abe264b1bb1b80eb3830c5,572,183.0,0.0,Высокопроизводительные вычисления,Безопасность компьютерных систем,Теория баз данных,Компьютерные сети,Дискретная оптимизация,Численные методы,Да,0.780269,0.0,,0.0

In [ ]:
df_1 = df.fillna({"18_group": 0,
                  "is_mi": 0,
                  "is_first_time": '',
                  "17_group": 0,
                  "blended": '',
                  "is_ml_student": 0})
df_1.head()

,timestamp,id,rating,18_group,is_mi,fall_1,fall_2,fall_3,spring_1,spring_2,spring_3,is_first_time,percentile,17_group,blended,is_ml_student
0,2020-05-15 01:12:50.543,93ff79a51cd602f1dd3028ba2c129503,698,181.0,0.0,Язык SQL,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да,0.183857,0.0,,0.0
1,2020-05-15 02:46:48.066,26b01b1c4cd5656bab18d24c548834fb,647,181.0,0.0,Высокопроизводительные вычисления,Безопасность компьютерных систем,Язык SQL,Дискретная оптимизация,Численные методы,Машинное обучение 2,Нет,0.426009,0.0,,0.0
2,2020-05-15 03:12:41.480,30f3653fc176d54e89ac3179c455c6dd,624,185.0,0.0,Безопасность компьютерных систем,Матричные вычисления,Моделирование временных рядов,Дискретная оптимизация,Машинное обучение 2,Численные методы,Да,0.538117,0.0,,0.0
3,2020-05-15 04:43:08.994,1528f0eaa027580820ccf0d92a53ad68,579,182.0,0.0,Statistical Learning Theory,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да,0.744395,0.0,,0.0
4,2020-05-15 07:47:17.197,496ea4f0d4abe264b1bb1b80eb3830c5,572,183.0,0.0,Высокопроизводительные вычисления,Безопасность компьютерных систем,Теория баз данных,Компьютерные сети,Дискретная оптимизация,Численные методы,Да,0.780269,0.0,,0.0

In [ ]:
df_1.isna().sum()

timestamp        0
id               0
rating           0
18_group         0
is_mi            0
fall_1           0
fall_2           0
fall_3           0
spring_1         0
spring_2         0
spring_3         0
is_first_time    0
percentile       0
17_group         0
blended          0
is_ml_student    0
dtype: int64

In [ ]:
# Проверить такую замену
df_01 = df.select_dtypes(include = ['datetime64[ns]', 'float64', 'int64']).fillna(0)
df_02 = df.select_dtypes(include = 'object').fillna('')
df_new = df_01.join(df_02)
df_new = df_new.reindex(columns=['timestamp', 'id', 'rating', '18_group', 'is_mi', 'fall_1', 'fall_2', 'fall_3', 'spring_1', 'spring_2', 'spring_3', 'is_first_time', 'percentile', '17_group', 'blended', 'is_ml_student'])
df_new.head()

,timestamp,id,rating,18_group,is_mi,fall_1,fall_2,fall_3,spring_1,spring_2,spring_3,is_first_time,percentile,17_group,blended,is_ml_student
0,2020-05-15 01:12:50.543,93ff79a51cd602f1dd3028ba2c129503,698,181.0,0.0,Язык SQL,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да,0.183857,0.0,,0.0
1,2020-05-15 02:46:48.066,26b01b1c4cd5656bab18d24c548834fb,647,181.0,0.0,Высокопроизводительные вычисления,Безопасность компьютерных систем,Язык SQL,Дискретная оптимизация,Численные методы,Машинное обучение 2,Нет,0.426009,0.0,,0.0
2,2020-05-15 03:12:41.480,30f3653fc176d54e89ac3179c455c6dd,624,185.0,0.0,Безопасность компьютерных систем,Матричные вычисления,Моделирование временных рядов,Дискретная оптимизация,Машинное обучение 2,Численные методы,Да,0.538117,0.0,,0.0
3,2020-05-15 04:43:08.994,1528f0eaa027580820ccf0d92a53ad68,579,182.0,0.0,Statistical Learning Theory,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да,0.744395,0.0,,0.0
4,2020-05-15 07:47:17.197,496ea4f0d4abe264b1bb1b80eb3830c5,572,183.0,0.0,Высокопроизводительные вычисления,Безопасность компьютерных систем,Теория баз данных,Компьютерные сети,Дискретная оптимизация,Численные методы,Да,0.780269,0.0,,0.0

### УБИРАЕМ ПОВТОРЯЮЩИЕСЯ ID И ОСТАВЛЯЕМ ПОСЛЕДНИЙ РЕЗУЛЬТАТ

In [ ]:
len(df_1)

361

In [ ]:
len(df_1['id'].unique())

347

In [ ]:
df_1.sort_values('timestamp', ascending = True, inplace=True)
df_2 = df_1.drop_duplicates(subset = ['id', 'rating'], keep = 'last')

In [ ]:
# Проверка отсутвия дубликатов в столбце 'id'
df_2['id'].nunique()

347

### НАЛИЧИЕ ОТВЕТОВ "НЕТ" В "is_first_time"

In [ ]:
df_fil = df_2['is_first_time'].isin(['Нет'])
print('Количество строк с ответом "Нет":', df_2[df_fil].shape[0])

Количество строк с ответом "Нет": 51

#### Сколько было заявок из групп 18-го года набора, а сколько из групп 17-го года?

In [ ]:
print(len(df_2[df_2['17_group'].isin([0])]), 'заявок из групп набора 17-го года')
print(len(df_2[df_2['18_group'].isin([0])]), 'заявок из групп набора 18-го года')

213 заявок из групп набора 17-го года
134 заявок из групп набора 18-го года

In [ ]:
df_2['18_group'].value_counts()

0.0      134
183.0     31
187.0     30
185.0     28
186.0     27
181.0     27
182.0     26
188.0     23
184.0     21
Name: 18_group, dtype: int64

In [ ]:
df_2['17_group'].value_counts()

0.0      213
172.0     28
175.0     26
171.0     26
173.0     19
176.0     17
174.0     15
177.0      3
Name: 17_group, dtype: int64

#### Есть ли студенты с равными перцентилями (среди объединенных данных, ведь конкурс на каждый курс общий)?

In [ ]:
print ('Есть', (len(df_2) - df_2['percentile'].nunique()) * 2, 'студента с одинаковыми перцентилями')

Есть 2 студента с одинаковыми перцентилями

## ПУНКТ 5
#### Какие blended-курсы для четверокурсников существуют?

In [ ]:
df_2.groupby(by='blended').sum()

,rating,18_group,is_mi,percentile,17_group,is_ml_student
blended,,,,,,
,135021,39292.0,16.0,105.139013,0.0,56.0
DevOps,100413,0.0,0.0,43.717391,15105.0,0.0
Введение в дифференциальную геометрию,18161,0.0,0.0,5.159420,2609.0,0.0
Соревновательный анализ данных,36615,0.0,0.0,17.210145,5518.0,0.0

In [1]:
b = list(set(df_2['blended']))
b.remove('')
print('Существуют следующие blended курсы для четверокурсников:', b)

NameError: ignored

#### На какой blended-курс записалось наибольшее количество студентов?

In [ ]:
df_2['blended']

223                            DevOps
224                            DevOps
225                            DevOps
226                            DevOps
227                            DevOps
                    ...
220
360    Соревновательный анализ данных
359                            DevOps
221
222
Name: blended, Length: 347, dtype: object

#### На каком из blended-курсов собрались студенты с самым высоким средним рейтингом (выведите этот курс и количество студентов на нем)?

### Выясните, есть ли студенты с абсолютно одинаковыми предпочтениями по всем курсам.
Для этого сформируйте таблицу, где для каждого возможного набора курсов посчитано количество студентов, выбравших такой набор, и оставьте только строки где это количество больше 1.

В данном случае набор курсов задается упорядоченным множеством ('fall_1', 'fall_2', 'fall_3', 'spring_1', 'spring_2', 'spring_3', 'blended'). Элемент blended будет нулевым для 3-го курса.

### Найдите курсы по выбору, на которые записывались как студенты 18-го года набора, так и студенты 17-го года.

Методом исключения найдите курсы, которые предлагались только студентам 18-го года и только студентам 17-го года.